body{
    background: aliceblue;
    margin: 0;
    min-width: 750px;
    font-family: arial, sans-serif;
}

.toolBar{
    height: 50px;
    background: gainsboro;
    margin-bottom: 5%;
}

.toolbarContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.leaveGame {
    margin-right: 30px;
    margin-top: -13px;
    font-family: arial, sans-serif;
    margin-left: 40px;
    float: right;
}

.leaveGame:hover {
    color: blueviolet;
    cursor: pointer;
}

.mainDivBody {
    margin-bottom: 5px;
    min-width: 1050px;
    font-family: arial, sans-serif;
}

.board {
    vertical-align: top;
    display: inline-block;
    white-space: nowrap;
    line-height: 0;
    margin-left: 1%;
    margin-right: 1%;
    width: 45vw;
    height: 65vh;
    min-width: 400px;
    overflow: auto;

}

.completedBoard{
    vertical-align: top;
    display: inline-block;
    white-space: nowrap;
    line-height: 0;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
}

.completedBoardBody{
    display: table;
    margin: 0 auto;
}

.boardBody {
    display: table;
    margin: 0 auto;
}

.leftDiv {
    vertical-align: top;
    display: inline-block;
    font-size: 24px;
    margin-left: 1%;
    border-radius: 14px;
    background: antiquewhite;
    box-shadow: -1px 0px 3px 1px;
    font-family: arial, sans-serif;
}

.details > div > {
    margin-bottom: 2px;
}

.turnDetails {
    margin-bottom: 10%;
}

.actions > div {
    margin-bottom: 6px;
}

.userNameSpan{
    margin-right: 30px;
    margin-left: 20px;
    float: left;
    font-family: arial, sans-serif;
}

.details{
    margin-bottom: 10%;
}

.action{
    border: 1px solid black;
    border-radius: 10px;
    background: cadetblue;
    text-align: center;
    box-shadow: 4px 0px 9px 1px;
    background: cadetblue;
}

.action:hover {
    background: aliceblue;
    cursor: pointer;
}

.players {
    vertical-align: top;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    height: 250px;
    width: 245px;
    float: right;
    text-align: center;
    background: rgb(43, 163, 43);
    opacity: 0.6;
    border-radius: 15px;
    box-shadow: 0px 6px 17px 1px;
    font-size: 20px;
    font-style: italic;
    font-family: arial, sans-serif;
}

.generalInfo{
    margin-left: 1px;
    vertical-align: top;
    margin-right: 1%;
    margin-top: 20px;
    display: inline-block;
    height: 250px;
    width: 245px;
    float: right;
    text-align: left;
    background: rgb(242, 204, 210);
    opacity: 0.6;
    border-radius: 15px;
    box-shadow: 0px 6px 17px 1px;
    font-size: 20px;
    color:unset;
    font-family: arial, sans-serif;
}

.rightDiv {
    vertical-align: top;
    display: inline-block;
    font-size: 24px;
    margin-right: 1%;
    margin-top: -35%;
    margin-left: 60%;
    border-radius: 14px;
    font-family: arial, sans-serif;
}

.playerContainerDiv {
    position: relative;
}

.playerDiv:hover {
    background: black;
    cursor: pointer;
    overflow: visible;
    width: fit-content;
    min-width: 100px;
}

.playerDiv{
    text-overflow: ellipsis;
    overflow: hidden;
}

.PlayerTurn {
    display: inline-block;
}

.currentPlayerName{
    display: inline-block;
}

.gameStatus{
    margin-left: 300px;
    float: initial;
}


.active {
    background-color: #3048ff;
}

.button {
    width: 50px;
    height: 50px;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.wordCollectionDialog{
    background: antiquewhite;
    display: none;
    position: fixed;
    left: 20%;
    width: 50%;
    height: 65%;
    text-align: center;
    overflow: auto;
    z-index: 1000;
    max-width: 500px;
    max-height: 410px;
    opacity: 0.9;
    box-shadow: 9px 6px 64px 32px;
    animation-name: openDialog;
    animation-duration: 4s;
}

.endGameDialog{
    background: antiquewhite;
    display: none;
    position: fixed;
    left: 20%;
    width: 50%;
    height: 65%;
    text-align: center;
    overflow: auto;
    z-index: 1000;
    max-width: 500px;
    max-height: 410px;
    opacity: 0.9;
    box-shadow: 9px 6px 64px 32px;
    animation-name: openDialog;
    animation-duration: 4s;
}

.tenWordsDialog{
    background: antiquewhite;
    display: none;
    position: fixed;
    left: 20%;
    width: 50%;
    height: 65%;
    text-align: center;
    overflow: auto;
    z-index: 1000;
    max-width: 500px;
    max-height: 410px;
    opacity: 0.9;
    box-shadow: 9px 6px 64px 32px;
    animation-name: openDialog;
    animation-duration: 4s;
}

.cashierStatusDialog{
    background: antiquewhite;
    display: none;
    position: fixed;
    left: 20%;
    width: 50%;
    height: 65%;
    text-align: center;
    overflow: auto;
    z-index: 1000;
    max-width: 500px;
    max-height: 410px;
    opacity: 0.9;
    box-shadow: 9px 6px 64px 32px;
    animation-name: openDialog;
    animation-duration: 4s;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

@media (max-height: 200px) {
    #generalInfo {
        margin: 0 auto;
    }
}

@keyframes openDialog {
    from
    {
        background: black;
        font-size: 0px;
    }
    to
    {
        background: antiquewhite;
        font-size: 14px;
    }
}