body{
    background: aliceblue;
    margin: 0;
    min-width: 400px;
}

.mainDiv{
    margin: 10px 10px 0 10px;
    display: flex;
}

.toolBar{
    height: 50px;
    background: gainsboro;
}

.toolbarContent {
    position: relative;
    top: 50%;
    transform: translateY(-70%);
}

.titleDashboard{
    position: relative;
    font-family: arial, sans-serif;
}

.logoutForm{
    margin-left: 10px;
    margin-top: 50px;
    position: relative;
    transform: translateY(-70%);
}

.userNameSpan {
    margin: 20px;
}

.usersList{
    border: black 1px solid;
    border-radius: 6px;
    width: 80%;
    font-family: arial, sans-serif;
}

.gamesTable {
    table-layout: fixed;
    border: 1px black solid;
    border-radius: 6px;
    width: 100%;
    font-family: arial, sans-serif;
}

.gamesDiv {
    flex: 2 0 0;
}

.usersDiv {
    margin-left: 5px;
    flex: 0.4 0 0;
}

th {
    width: 100%;
    padding: 0% 5% 2% 1%;
    background: lightskyblue;
}

tr{
    width: 100%;
}

h3{
    font-family: arial, sans-serif;
}

h1{
    transform: translateY(190%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.responsiveTable{
    overflow-x:auto;
    overflow-y: auto;
}

.gamesDiv tr {
    background: lightsteelblue;
    color: navy;
}

.gamesDiv td {
    height: 40px;
}

.logoutForm:hover {
    color: blueviolet;
    cursor: pointer;
}

.previewGameDialog{
    background: antiquewhite;
    font-family: arial, sans-serif;
    display: none;
    position: fixed;
    left: 20%;
    width: 50%;
    height: 65%;
    text-align: center;
    overflow: auto;
    z-index: 1000;
    max-width: 500px;
    max-height: 410px;
    opacity: 0.9;
    box-shadow: 9px 6px 64px 32px;
    animation-name: openDialog;
    animation-duration: 4s;
}

@keyframes openDialog {
    from
    {
        background: black;
        font-size: 0px;
    }
    to
    {
        background: antiquewhite;
        font-size: 14px;
    }
}

.gamesDiv tr:hover {
    background: blanchedalmond;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.85; }
}

@keyframes openDialog {
    to { transform: rotate(1turn);}
}


